In [1]:
import pandas as pd

In [9]:
df = pd.read_csv("Dummy_Datas/automobile_data.csv")

df.head() #When you have to print first 5 rows

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.4,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.4,8.0,115,5500,18,22,17450

In [10]:
df.tail()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
200,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845
201,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045
202,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485
203,-1,95,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.4,23.0,106,4800,26,27,22470
204,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625

In [11]:
df.columns #To print the entire columns

Index(['symboling', 'normalized-losses', 'make', 'fuel-type', 'aspiration',
       'num-of-doors', 'body-style', 'drive-wheels', 'engine-location',
       'wheel-base', 'length', 'width', 'height', 'curb-weight', 'engine-type',
       'num-of-cylinders', 'engine-size', 'fuel-system', 'bore', 'stroke',
       'compression-ratio', 'horsepower', 'peak-rpm', 'city-mpg',
       'highway-mpg', 'price'],
      dtype='object')

In [12]:
total_price = df["price"].sum()  # To sum a single column
print("Total sum is ",total_price)

Total sum is  134951650016500139501745015250177101892023875?1643016925209702110524565307604131536880515162956575557263777957622966927609855889211296464796855539965297129729572957895909588451029512945103456785??11048322503555036000519560956795669573951094511845136451564588458495105951024510795112451828018344255522824828176316003418435056409604540016503538961896669768999598499126291486914489698981899279927954997099664968497349729977997499799982498949954913499143991349917199196991839911900132001244013860155801690016695170751663017950181505572795762296692760989211276422018325283402837028?9295989511850121701504015510181501862051187053760371267775996092331125974631019880131169453486338648869187898877869387198789877887738835892588058823892989538844996399989111991154917669894810698998810898112481655815998156901575077757975799581958495949599951159599801329513845122901294013415159851651518420189501684519045214852247022625

In [13]:
numeric_sum = df[['price','horsepower']].sum() #To sum multiple numeric column
print(numeric_sum)

price         134951650016500139501745015250177101892023875?...
horsepower    1111111541021151101101101401601011011211211211...
dtype: object

In [15]:
df.sum(numeric_only = True) #Sum of the entire data frame(numeric only)

symboling               171.00
wheel-base            20245.10
length                35680.10
width                 13511.10
height                11013.60
curb-weight          523891.00
engine-size           26016.00
compression-ratio      2079.22
city-mpg               5170.00
highway-mpg            6304.00
dtype: float64

In [18]:
total = df["price"].sum() 

#If you want to save your result to another csv

pd.DataFrame({"Total_Price":[total]}).to_csv("Dummy_Datas/Sum_output.csv",index=False)

In [19]:
#If you want ot handle some missing values.

df["price"] = pd.to_numeric(df["price"],errors = "coerce")
df["price"] = df["price"].fillna(0)

In [24]:
#Reshaping and pivoting Data

#Reshaping  

#Reshaping data uses pivot() and melt() keyword for restructuring datasets.
#It facilitates data aggregation ad analysis in AI-Driven business insights. 


data = {
    "Date":["2025-08-02","2025-08-12","2025-07-20","2025-05-10","2025-05-11"],
    "Category":["A","B","C","D","A"],
    "Value":[10,20,34,12,35]
}

df = pd.DataFrame(data)

print("Original data frame : \n",df)

print()
#Pivot Data Frame

pivot_df = df.pivot(index="Date",columns="Category",values="Value")
print("Reshaped Data Frame : \n",pivot_df)

Original data frame :
          Date Category  Value
0  2025-08-02        A     10
1  2025-08-12        B     20
2  2025-07-20        C     34
3  2025-05-10        D     12
4  2025-05-11        A     35

Reshaped Data Frame :
 Category       A     B     C     D
Date
2025-05-10   NaN   NaN   NaN  12.0
2025-05-11  35.0   NaN   NaN   NaN
2025-07-20   NaN   NaN  34.0   NaN
2025-08-02  10.0   NaN   NaN   NaN
2025-08-12   NaN  20.0   NaN   NaN